<!--section -->
<app-header></app-header>
<section>
  <div class="container">
    <div class="section-title">
      <div class="section-title-separator">
        <span
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i
        ></span>
      </div>
      <h2>TERMS AND CONDITIONS</h2>
      <span class="section-separator"></span>
      <p>
        Welcome to house huntt, your trusted partner in the world of real
        estate. With a passion for properties and a commitment to excellence, we
        have been helping clients turn their real estate dreams into reality.
      </p>
    </div>
    <!-- -->
    <div class="row">
      <div class="col-md-12">
        <!-- process-item-->
        <div class="process-item big-pad-pr-item">
          <span class="process-count"> </span>
          <!-- <div class="time-line-icon"><i class="fal fa-headset"></i></div> -->
          <h4><a>ACCEPTANCE OF TERMS</a></h4>
          <p>
            <b>1.</b> By accessing and using the HouseHuntt website , you agree
            to be bound by these Terms and Conditions. If you do not agree to
            these terms, please refrain from using the Website.
          </p>
          <h4><a>DEFINITIONS</a></h4>
          <p>
            <b>1.</b> "Website" refers to the property broking website provided
            by HouseHuntt, including all its web pages and related service
          </p>
          <p>
            <b>2.</b> "User" refers to any individual or entity accessing and
            using the Website.
          </p>
          <p>
            <b>3.</b> "Property" refers to real estate listings, including but
            not limited to residential, commercial, and industrial properties,
            featured on the Website.
          </p>
          <h4><a>USER RESPONSIBILITIES</a></h4>
          <p>
            <b>1.</b> Users must be at least 18 years of age to use the Website.
          </p>
          <p>
            <b>2.</b> Users are responsible for providing accurate and
            up-to-date information when registering for an account on the
            Website.
          </p>
          <p>
            <b>3.</b> Users must not use the Website for any unlawful,
            fraudulent, or harmful purposes, including but not limited to
            spamming, phishing, or spreading malware.
          </p>
          <p>
            <b>4.</b> Users must not infringe upon the intellectual property
            rights of HouseHuntt or any third party while using the Website.
          </p>
          <h4><a>PROPERTY LISTINGS</a></h4>

          <p>
            <b>1.</b> The Website provides property listings for informational
            purposes only. The accuracy, completeness, and availability of
            property listings are not guaranteed.
          </p>
          <p>
            <b>2.</b> Users understand and acknowledge that property listings
            may change, be removed, or become unavailable at any time, and
            HouseHuntt is not responsible for any inconvenience or loss
            resulting from such changes.
          </p>
          <p>
            <b>3.</b> Users are encouraged to verify all property information
            independently, including but not limited to property condition,
            price, and legal status, before making any decisions based on the
            listings.
          </p>
          <h4><a>USER ACCOUNTS</a></h4>

          <p>
            <b>1.</b> Users may be required to create an account to access
            certain features of the Website. Users are responsible for
            maintaining the confidentiality of their account information,
            including passwords.
          </p>
          <p>
            <b>2.</b> Users are solely responsible for all activities that occur
            under their account and must promptly notify HouseHuntt of any
            unauthorized access or use of their account.
          </p>
          <h4><a>PRIVACY</a></h4>

          <p>
            <b>1.</b> The HouseHuntt Privacy Policy governs the collection, use,
            and disclosure of user information. By using the Website, you
            consent to the practices outlined in the Privacy Policy.
          </p>
          <h4><a>DISCLAIMER OF WARRANTIES</a></h4>

          <p>
            <b>1.</b> The Website is provided without any warranties of any
            kind, whether express or implied, including but not limited to
            warranties of merchantability, fitness for a particular purpose, or
            non-infringement.
          </p>
          <p>
            <b>2.</b> HouseHuntt does not guarantee the accuracy, reliability,
            or availability of property listings, and users use the Website at
            their own risk.
          </p>
          <h4><a>LIMITATION OF LIABILITY</a></h4>

          <p>
            <b>1.</b> To the extent permitted by applicable law, HouseHuntt
            shall not be liable for any direct, indirect, incidental, special,
            or consequential damages arising from the use or inability to use
            the Website, including but not limited to damages for loss of
            profits, goodwill, data, or other intangible losse
          </p>
          <h4><a>MODIFICATION OF TERMS</a></h4>

          <p>
            <b>1.</b> HouseHuntt reserves the right to modify these Terms and
            Conditions at any time. Users are responsible for reviewing these
            terms periodically for updates. Continued use of the Website after
            changes to the terms signify acceptance of the modified terms.
          </p>
          <h4><a>TERMINATION</a></h4>

          <p>
            <b>1.</b> HouseHuntt reserves the right to terminate or suspend user
            accounts and access to the Website at its sole discretion without
            notice.
          </p>
          <h4><a>GOVERNING LAW</a></h4>

          <p>
            <b>1.</b> These Terms and Conditions are governed by and construed
            in accordance with the laws of INDIA, and any disputes arising under
            or in connection with these terms shall be subject to the exclusive
            jurisdiction of the courts of IN
          </p>
          <p>
            <b
              >By using the HouseHuntt Website, you acknowledge that you have
              read, understood, and agreed to these Terms and Conditions. If you
              do not agree with any part of these terms, please refrain from
              using the Website</b
            >
          </p>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="process-item big-pad-pr-item">
          <span class="process-count"> </span>
          <div class="time-line-icon"><i class="fal fa-gift"></i></div>
          <h4><a >Services We Offer</a></h4>
          <p>Residential Sales</p>
          <p>Residential Rentals</p>
          <p>Commercial Real Estated</p>
          <p>Investment Properties</p>
          <p>PG</p>
          <p>Hostels</p>
          <p>Working space</p>
        </div>
      </div>-->
    </div>

  </div>
</section>
<app-footer></app-footer>
<!-- section end -->
