.section-title {
  text-align: center;
}
section {
  float: left;
  width: 100%;
  position: relative;
  padding: 120px 0 !important;
  background: #fff;
  z-index: 1;
}
.process-item.big-pad-pr-item h4 {
  color: #18458b;
  font-size: 16px;
  font-weight: 700;
}
