<!--section -->
<app-header></app-header>
<section>
  <div class="container">
    <div class="section-title">
      <div class="section-title-separator">
        <span
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i
        ></span>
      </div>
      <h2>Why Choose Us</h2>
      <span class="section-separator"></span>
      <p>
        Welcome to house huntt, your trusted partner in the world of real estate. With a passion for properties and a commitment to excellence, we have been helping clients turn their real estate dreams into reality.
      </p>
    </div>
    <!-- -->
    <div class="row">
      <div class="col-md-6">
        <!-- process-item-->
        <div class="process-item big-pad-pr-item">
          <span class="process-count"> </span>
          <div class="time-line-icon"><i class="fal fa-headset"></i></div>
          <h4><a > Best service guarantee</a></h4>
          <p>
            <b>Personalized Service:</b> We tailor our approach to meet your unique needs and goals.
          </p>
          <p>
            <b>Local Expertise: </b> Our agents have an in-depth understanding of the local real estate market.
          </p>
          <p>
            <b>Integrity : </b> We uphold the highest ethical standards in everything we do.
          <p>
            <b>Results-Driven: </b> We are committed to achieving the best outcomes for our clients.
          </p>
          <p>
            <b>Innovation:</b> We leverage cutting-edge technology to enhance your real estate.
          </p>
        </div>
        <!-- process-item end -->
      </div>
      <div class="col-md-6">
        <!-- process-item-->
        <div class="process-item big-pad-pr-item">
          <span class="process-count"> </span>
          <div class="time-line-icon"><i class="fal fa-gift"></i></div>
          <h4><a >Services We Offer</a></h4>
          <p>Residential Sales</p>
          <p>Residential Rentals</p>
          <p>Commercial Real Estated</p>
          <p>Investment Properties</p>
          <p>PG</p>
          <p>Hostels</p>
          <p>Working space</p>
        </div>
        <!-- process-item end -->
      </div>
      <!-- <div class="col-md-4">
        <div class="process-item big-pad-pr-item nodecpre">
          <span class="process-count"> </span>
          <div class="time-line-icon">
            <i class="fal fa-credit-card"></i>
          </div>
          <h4><a> Get more from your card</a></h4>
          <p>
            Proin dapibus nisl ornare diam varius tempus. Aenean a quam
            luctus, finibus tellus ut, convallis eros sollicitudin turpis.
          </p>
        </div>
      </div> -->
    </div>
    <!--process-wrap   end-->
    <!-- <div class="single-facts fl-wrap mar-top">
      <div class="inline-facts-wrap">
        <div class="inline-facts">
          <i class="fal fa-users"></i>
          <div class="milestone-counter">
            <div class="stats animaper">
              <div class="num" data-content="0" data-num="254">154</div>
            </div>
          </div>
          <h6>New Visiters Every Week</h6>
        </div>
      </div>
      <div class="inline-facts-wrap">
        <div class="inline-facts">
          <i class="fal fa-thumbs-up"></i>
          <div class="milestone-counter">
            <div class="stats animaper">
              <div class="num" data-content="0" data-num="12168">12168</div>
            </div>
          </div>
          <h6>Happy customers every year</h6>
        </div>
      </div>
      <div class="inline-facts-wrap">
        <div class="inline-facts">
          <i class="fal fa-award"></i>
          <div class="milestone-counter">
            <div class="stats animaper">
              <div class="num" data-content="0" data-num="172">172</div>
            </div>
          </div>
          <h6>Won Awards</h6>
        </div>
      </div>
      <div class="inline-facts-wrap">
        <div class="inline-facts">
          <i class="fal fa-hotel"></i>
          <div class="milestone-counter">
            <div class="stats animaper">
              <div class="num" data-content="0" data-num="732">732</div>
            </div>
          </div>
          <h6>New Listing Every Week</h6>
        </div>
      </div>
    </div> -->
  </div>
</section>
<app-footer></app-footer>

