<!--section -->
<app-header></app-header>
<section>
  <div class="container">
    <div class="breadcrumbs-fs fl-wrap">
      <div class="container">
        <div class="breadcrumbs fl-wrap">
          <a routerLink="/">Home</a>
          <span>About Us</span>
        </div>
      </div>
    </div>
    <section id="sec1" class="middle-padding" style="padding-bottom: 20px !important;">
      <div class="container">
        <!--about-wrap -->
        <div class="about-wrap">
          <div class="row">
            <div class="col-md-6">
              <div class="video-box fl-wrap">
                <img src="assets/images/all/9.jpg" class="respimg" alt="">

                <span class="video-box-title">Our Video Presentation</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="list-single-main-item-title fl-wrap">
                <h3>Our Awesome <span>Story</span></h3>
              </div>
              <p>Welcome to House Huntt, your trusted partner in the world of real estate. With a passion for properties
                and a commitment
                to excellence, we have been helping clients turn their real estate dreams into reality.</p>
              <p>
                At House Huntt, we understand that buying or selling a property can be one of the most significant
                decisions in your
                life. That's why we are dedicated to providing you with the highest level of service, expertise, and
                support throughout
                your real estate journey.
              </p>
              <p>
                Our team of experienced real estate professionals is here to guide you through every step of the
                process, whether you
                are searching for your dream home, looking to sell your current property, or exploring investment
                opportunities. We
                pride ourselves on staying up-to-date with the latest market trends and using cutting-edge technology to
                ensure you have
                access to the most current listings and market insights.
              </p>

            </div>
          </div>
        </div>
        <!-- about-wrap end  -->

      </div>
    </section>
    <section class="color-bg hidden-section">
      <div class="wave-bg wave-bg2"></div>
      <div class="container">
        <div class="section-title">
          <h2>Why Choose House huntt</h2>
          <span class="section-separator"></span>
          <p>Choosing House Huntt as your real estate partner comes with several compelling reasons, setting us apart as
            the ideal
            choice for your real estate needs. Here are some key reasons why you should choose House Huntt.</p>
        </div>
        <!-- -->
        <div class="row">
          <div class="col-md-4">
            <!-- process-item-->
            <div class="process-item big-pad-pr-item">
              <span class="process-count"> </span>
              <div class="time-line-icon"><i class="fal fa-headset"></i></div>
              <h4> 24 Hours Support</h4>
              <p>At House Huntt, we understand that real estate needs can arise at any time, day or night. That's why we
                are proud to
                offer 24-hour support to our clients. We believe that accessibility and responsiveness are key
                components of excellent
                customer service, and we are committed to being there for you whenever you need us.</p>
            </div>
            <!-- process-item end -->
          </div>
          <div class="col-md-4">
            <!-- process-item-->
            <div class="process-item big-pad-pr-item">
              <span class="process-count"> </span>
              <div class="time-line-icon"><i class="fal fa-cogs"></i></div>
              <h4> Vision</h4>
              <p>At House Huntt, our vision is to revolutionize the real estate experience for our clients. We aspire to
                be the
                undisputed leaders in the industry, setting new standards of excellence, innovation, and client-centric
                service.</p>
            </div>
            <!-- process-item end -->
          </div>
          <div class="col-md-4">
            <!-- process-item-->
            <div class="process-item big-pad-pr-item nodecpre">
              <span class="process-count"> </span>
              <div class="time-line-icon"><i class="fab fa-android"></i></div>
              <h4>Mission</h4>
              <p>At House Huntt, our mission is to empower individuals and families to make informed, confident, and
                successful real
                estate decisions. We are dedicated to providing unparalleled service, leveraging expertise, and
                embracing innovation to
                create exceptional real estate experiences for our clients.</p>
            </div>
            <!-- process-item end -->
          </div>
        </div>
        <!--process-wrap   end-->
      </div>
    </section>
  </div>
</section>
<app-footer></app-footer>