<div id="wrapper">
  <app-header></app-header>
  <!-- content-->
  <div class="content">
    <!--section -->
    <section class="hero-section" data-scrollax-parent="true" id="sec1">
      <div class="hero-parallax">
        <div
          class="bg"
          data-bg="assets/images/bg/22.jpg"
          data-scrollax="properties: { translateY: '200px' }"
          style="
            background-image: url('assets/images/bg/22.jpg');
            transform: translateZ(0px) translateY(-92.437px);
          "
        ></div>
        <div class="overlay op7"></div>
      </div>
      <div class="hero-section-wrap fl-wrap">
        <div class="container">
          <div class="home-intro">
            <h2>House Hunt Flat Booking System</h2>
            <span class="section-separator"></span>
            <h3>Let's start exploring the world together with house hunt</h3>
          </div>

          <!-- search code start -->

          <div class="main-search-input-wrap">
            <div class="main-search-input fl-wrap">
              <div
                class="main-search-input-item location"
                id="autocomplete-container"
              >
                <span class="inpt_dec"><i class="fal fa-map-marker"></i></span>
                <input
                  type="text"
                  placeholder="Flat , City..."
                  class="autocomplete-input pac-target-input"
                  id="autocompleteid2"
                  autocomplete="off"
                />
                <!-- <a><i class="fal fa-dot-circle"></i></a> -->
              </div>
              <div
                class="main-search-input-item main-date-parent main-search-input-item_small"
              >
                <span class="inpt_dec"
                  ><i class="fal fa-calendar-check"></i
                ></span>
                <input
                  type="text"
                  placeholder="When"
                  name="main-input-search"
                  value=""
                />
                <div class="daterangepicker ltr show-calendar opensright">
                  <div class="ranges"></div>
                  <div class="drp-calendar left">
                    <div class="calendar-table"></div>
                    <div class="calendar-time" style="display: none"></div>
                  </div>
                  <div class="drp-calendar right">
                    <div class="calendar-table"></div>
                    <div class="calendar-time" style="display: none"></div>
                  </div>
                  <div class="drp-buttons">
                    <span class="drp-selected"></span
                    ><button
                      class="cancelBtn btn btn-sm btn-default"
                      type="button"
                    >
                      Clear</button
                    ><button
                      class="applyBtn btn btn-sm btn-primary"
                      disabled="disabled"
                      type="button"
                    >
                      Apply
                    </button>
                  </div>
                </div>
              </div>
              <div class="main-search-input-item">
                <div class="qty-dropdown fl-wrap">
                  <div class="qty-dropdown-header fl-wrap">
                    <i class="fal fa-users"></i> Persons
                  </div>
                  <div class="qty-dropdown-content fl-wrap">
                    <div class="quantity-item">
                      <label><i class="fas fa-male"></i> Adults</label>
                      <div class="quantity">
                        <input
                          type="number"
                          min="1"
                          max="3"
                          step="1"
                          value="1"
                        />
                        <div class="quantity-nav">
                          <div class="quantity-button quantity-up">+</div>
                          <div class="quantity-button quantity-down">-</div>
                        </div>
                      </div>
                    </div>
                    <div class="quantity-item">
                      <label><i class="fas fa-child"></i> Children</label>
                      <div class="quantity">
                        <input
                          type="number"
                          min="0"
                          max="3"
                          step="1"
                          value="0"
                        />
                        <div class="quantity-nav">
                          <div class="quantity-button quantity-up">+</div>
                          <div class="quantity-button quantity-down">-</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="main-search-button color2-bg">
                Search <i class="fal fa-search"></i>
              </button>
            </div>
          </div>

          <!-- Search code end -->
        </div>
      </div>
      <div class="header-sec-link">
        <div class="container">
          <a class="custom-scroll-link color-bg"
            ><i class="fal fa-angle-double-down"></i
          ></a>
        </div>
      </div>
    </section>
    <!-- section end -->

    <!-- section-->
    <section class="grey-blue-bg">
      <!-- container-->
      <div class="container">
        <div class="section-title">
          <h2>Recently Added Flats</h2>
          <span class="section-separator"></span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
            pulvinar neque. Nulla finibus lobortis pulvinar.
          </p>
        </div>
      </div>
      <!-- container end-->
      <!-- carousel -->
      <div class="list-carousel fl-wrap card-listing">
        <!--listing-carousel-->
        <div
          class="listing-carousel fl-wrap slick-initialized slick-slider slick-dotted"
        >
          <div class="slick-list draggable row">
            <div class="slick-track">
              <!-- house list start -->
              <div
                class="slick-slide"
                id=""
                aria-hidden="true"
                style="width: 335px"
                *ngFor="let item of itemsToShow; let i = index"
              >
                <div>
                  <div class="slick-slide-item">
                    <!-- listing-item  -->
                    <div class="listing-item">
                      <article class="geodir-category-listing fl-wrap">
                        <div class="geodir-category-img">
                          <!-- <a><img src="assets/images/gal/4.jpg" alt=""/></a> -->
                          <!-- <a><img [src]=" item.houseImage.length==0?'': 'https://househuntt.com/apiHouse/assets/house'+item.houseImage[0].imageName" alt=""/></a> -->
                          <a
                            ><img
                              [src]="
                                item.houseImage.length == '0'
                                  ? 'assets/images/gal/4.jpg'
                                  : 'https://househuntt.com/apiHouse/assets/house/' +
                                    item.houseImage[0].imageName
                              "
                              alt=""
                          /></a>
                          <div class="sale-window big-sale">Off 50%</div>
                          <div class="geodir-category-opt">
                            <div class="rate-class-name">
                              <div class="score">
                                <strong>Good</strong>12 Reviews
                              </div>
                              <span>5</span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="geodir-category-content fl-wrap title-sin_item"
                        >
                          <div class="geodir-category-content-title fl-wrap">
                            <div class="geodir-category-content-title-item">
                              <h3 class="title-sin_map">
                                <a>Flat's </a>
                              </h3>
                              <div class="geodir-category-location fl-wrap">
                                <a class="map-item"
                                  ><i class="fas fa-map-marker-alt"></i>
                                  {{ item.address }}</a
                                >
                              </div>
                            </div>
                          </div>
                          <p>
                            {{ item.configuration }}
                          </p>
                          <!-- <ul class="facilities-list fl-wrap">
                            <li>
                              <i class="fal fa-wifi"></i><span>Free WiFi</span>
                            </li>
                            <li>
                              <i class="fal fa-parking"></i><span>Parking</span>
                            </li>
                            <li>
                              <i class="fal fa-smoking-ban"></i
                              ><span>Non-smoking Rooms</span>
                            </li>
                            <li>
                              <i class="fal fa-utensils"></i
                              ><span> Restaurant</span>
                            </li>
                          </ul> -->
                          <div class="geodir-category-footer fl-wrap">
                            <div class="geodir-opt-link">
                              <button
                                class="geodir-category-price"
                                [routerLink]="['/book/' + item._id]"
                              >
                                <!-- More Details & Book Now -->
                                Book Now
                              </button>
                              <!-- <button class="geodir-category-price moreD" [routerLink]="['/home-details/'+item._id]"> More Details </button> -->
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                    <!-- listing-item end -->
                  </div>
                </div>
              </div>
              <!-- house list end -->
            </div>
          </div>
          <!-- <app-footermenu></app-footermenu> -->

          <div class="pagination-controls">
            <button class="pagi" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button class="pagi" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
          </div>
        </div>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Please enter pin code</h4>
            <button  style="color: rgb(255, 0, 0); text-decoration: none; display: none;"type="button" class="close-reg color-bg" aria-label="Close" (click)="modal.dismiss('Cross click')"><a class="fa fa-times" ></a></button>
          </div>
          <div class="modal-body">
            <!-- <form> -->
              <div class="mb-3">
                <!-- <label for="dateOfBirth">Date of birth</label> -->
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Enter Pin Code" [(ngModel)]="pinCode">
                </div>
              </div>
            <!-- </form> -->
            <!-- <button type="button" class=" btn btn-primary color-bg" (click)="submit()">Submit</button> -->
          </div>
          <!-- <div class="modal-footer"> -->
          <!-- </div> -->
        </ng-template>

        <button style="display: none;" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>


      </div>
    </section>
  </div>
  <app-footer></app-footer>

</div>
