.container {
  text-align: center !important;
}
ul.slick-dots {
  text-align: center;
}
ul.facilities-list.fl-wrap {
  text-align: center;
}
.geodir-opt-list {
  text-align: center;
}
button.geodir-category-price {
  width: 100% !important;
  background: #ffe816;
  /* width: 45%; */
  margin: 3px;
  color: black;
}

 .geodir-category-price .moreD{
  background: #4a56ff !important;
}
.slick-slider .slick-list {
  display: flex !important;
   flex-direction: row !important;
  flex-wrap: wrap !important;
}
.slick-slide {
  padding: 0px 0px 17px;

}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(2.5 * var(--bs-gutter-x)) !important;
}

.pagination-controls {
  text-align: center;
}
.pagi {
  border: none;
  padding: 0px 26px;
  background: none;
}


