.container {
  text-align: center !important;
}
ul.slick-dots {
  text-align: center;
}
ul.facilities-list.fl-wrap {
  text-align: center;
}
.geodir-opt-list {
  text-align: center;
}
button.geodir-category-price {
  width: 100% !important;
  background: #ffe816;
  /* width: 45%; */
  margin: 3px;
  color: black;
}

 .geodir-category-price .moreD{
  background: #4a56ff !important;
}
