<header class="main-header">
  <div class="header-inner fl-wrap">
    <div class="logo-holder">
              <a><img src="assets/images/logo.png" alt=""></a>
          </div>
      <div class="container">
          <!-- <div class="show-search-button"><span>Search</span> <i class="fas fa-search"></i> </div> -->

         <div class="nav-holder main-menu">
              <nav>
                  <ul>
                      <li>
                          <a  [routerLink]="['/']"  routerLinkActive="act-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
                      </li>
                      <li>
                          <a routerLink="/about" routerLinkActive="act-link" >About </a>

                      </li>
                      <li>
                          <a routerLink="/contect" routerLinkActive="act-link">Contact As</a>
                      </li>

                  </ul>
              </nav>
          </div>
      </div>
  </div>
</header>

