.header-user-name i{
font-size: 20px;
line-height: 1.7;
margin: 0px 11px;

}
.log-submit-btn{
  float: right
}
.custom-form .form-control {
  float: left;
  /* border: 1px solid #eee; */
  border: 1px solid #c2bbbb94;
  background: #F7F9FB;
  width: 100%;
  /* padding: 14px 20px 14px 45px; */
  padding-left: 20px;
  border-radius: 6px;
  color: #666;
  font-size: 13px;
  font-weight: 600;
  /* -webkit-appearance: none; */
}

.main-register ul{
  padding-left: 0rem !important;
  text-align: center;
}

button#dropdownBasic1 {
  background: none;
  border: none;
  color: #fdfdfd;
  font-weight: 700;
  font-size: 13px;
  font-size: 15px;
  line-height: 25px;
}
button#dropdownBasic1:hover{
color: #f8bb11;;
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #f8bb11;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  background-color: #f8bb11;
}

.dropdown-item {
  float: left;
  padding: 4px  12px;
   font-size: 13px;
  font-weight: 700;
  text-transform: none;
  line-height: 25px;
  letter-spacing: 0px;
  color: #040404;
  transition: all .1s linear;
}
