.header-user-name i{
font-size: 20px;
line-height: 1.7;
margin: 0px 11px;

}
.log-submit-btn{
  float: right
}
.custom-form .form-control {
  float: left;
  /* border: 1px solid #eee; */
  border: 1px solid #c2bbbb94;
  background: #F7F9FB;
  width: 100%;
  /* padding: 14px 20px 14px 45px; */
  padding-left: 20px;
  border-radius: 6px;
  color: #666;
  font-size: 13px;
  font-weight: 600;
  /* -webkit-appearance: none; */
}

.main-register ul{
  padding-left: 0rem !important;
  text-align: center;
}
