<header class="main-header">
  <div class="header-inner fl-wrap">
    <div class="logo-holder">
      <a><img src="assets/images/logo.png" alt="" /></a>
    </div>
    <div class="container">
      <!-- <div class="show-search-button"><span>Search</span> <i class="fas fa-search"></i> </div> -->

      <div class="nav-holder main-menu">
        <nav>
          <ul>
            <li>
              <a
                [routerLink]="['/']"
                routerLinkActive="act-link"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <li>
              <a routerLink="/about" routerLinkActive="act-link">About </a>
            </li>
            <li>
              <a routerLink="/contect" routerLinkActive="act-link"
                >Contact As</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-user-menu">
        <div class="header-user-name" (click)="openWindowCustomClass(content1)">
          <span
            ><i
              class="fa fa-sign-in show-reg-form modal-open"
              aria-hidden="true"
            ></i
          ></span>
          Sign In
        </div>
      </div>
    </div>
  </div>
  <ng-template #content1 let-modal>
    <div class="reg-overlay"></div>
    <div class="main-register-holder">
      <div class="main-register fl-wrap">
        <div
          class="close-reg color-bg"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <i class="fal fa-times"></i>
        </div>
        <ul class="tabs-menu">
          <li [ngClass]="{ current: isBtnActive === 1 }" (click)="toggleBtn(1)">
            <a><i class="fal fa-sign-in-alt"></i> Login</a>
          </li>
          <li [ngClass]="{ current: isBtnActive === 2 }" (click)="toggleBtn(2)">
            <a><i class="fal fa-user-plus"></i> Register</a>
          </li>
        </ul>
        <div id="tabs-container">
          <div class="tab">
            <div id="tab-1" class="tab-content">
              <h3>
                Sign In <span>House<strong>Hunt</strong></span>
              </h3>
              <div class="custom-form">
                <form [formGroup]="signInForm" (ngSubmit)="signin()">
                  <label>Email Address <span>*</span> </label>
                  <input type="text" placeholder="Enter Email" formControlName="email"/>
                  <label>Password <span>*</span> </label>
                  <input type="password" placeholder="Enter Password" formControlName="password"
                  />
                  <button type="submit" class="log-submit-btn color-bg">
                    <span>Log In</span>
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
            <div class="tab">
              <div id="tab-2" class="tab-content">
                <h3>
                  Sign Up <span>House<strong>Hunt</strong></span>
                </h3>
                <div class="custom-form">
                  <form class="main-register-form" id="main-register-form2" [formGroup]="signUPForm" (ngSubmit)="signUp()">
                    <label>Full Name <span>*</span> </label>
                    <input type="text" placeholder="Enter Name" formControlName="name" autocomplete="new-name" />
                    <label>Email Address <span>*</span></label>
                    <input type="text" placeholder="Enter Email" formControlName="email" autocomplete="new-email"/>
                    <label>Gander <span>*</span></label>
                    <select class="form-control" formControlName="gender">
                      <option disabled selected value>Select Gender</option>
                      <option  value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="other">other</option>
                    </select>
                    <label>Password <span>*</span></label>
                    <input  type="password" placeholder="Enter Password" autocomplete="new-password" formControlName="password"/>
                    <button type="submit" class="log-submit-btn color-bg">
                      <span>Register</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</header>
