.list-single-main-item.fl-wrap ul>li span {
  color: black;
}
button#submit {
  background: #ffe816;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.custom-form  textarea, .custom-form input[type="text"], .custom-form  input[type=email], .custom-form  input[type=password],   input[type=button] {
  float: left;
  border: 1px solid #bdb8b861;
  background: #F7F9FB;
  width: 100%;
  padding: 14px 20px 14px 45px;
  border-radius: 6px;
  color: #666;
  font-size: 13px;
  /* -webkit-appearance: none; */
}
label i {
  font-size: 16px !important;
  line-height: 17px !important;
}
