<!-- <div id="main"> -->
  <app-header></app-header>
  <!--  wrapper  -->
  <div id="wrapper">
    <!-- content-->
    <div class="content">
      <!--  section  -->
      <section class="list-single-hero" data-scrollax-parent="true" id="sec1">
        <div
          class="bg par-elem"
          data-scrollax="properties: { translateY: '30%' }"
        ></div>
        <div class="list-single-hero-title fl-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="listing-rating-wrap">
                  <div
                    class="listing-rating card-popup-rainingvis"
                    data-starrating2="5"
                  ></div>
                </div>
                <h2>
                  <span>{{ houseDetails.categoryDetails[0].name }}</span>
                </h2>
                <div class="list-single-header-contacts fl-wrap">
                  <ul>
                    <li><i class="far fa-phone"></i><a>+7(111)123456789</a></li>
                    <!-- <li><i class="far fa-map-marker-alt"></i><a >USA 27TH Brooklyn NY</a></li> -->
                    <li>
                      <i class="far fa-envelope"></i><a>househunt@support.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="breadcrumbs-hero-buttom fl-wrap">
              <div class="list-single-hero-price">
                Rant<span>{{ houseDetails.rent }}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  section  end-->
      <!--  section  -->
      <section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
        <!--   container  -->
        <div class="container">
          <!--   row  -->
          <div class="row">
            <!--   datails -->
            <div class="col-md-8">
              <div class="list-single-main-container">
                <div class="list-single-main-media fl-wrap">
                  <!-- gallery-items   -->
                  <div
                    class="gallery-items grid-small-pad list-single-gallery three-coulms lightgallery"
                  >
                    <!-- 1 -->
                    <div
                      class="gallery-item"
                      *ngFor="let item of houseDetails.houseImage"
                    >
                      <div class="grid-item-holder">
                        <div class="box-item">
                          <!-- <img src="assets/images/gal/9.jpg" alt="" /> -->
                          <img
                            [src]="
                              'https://househuntt.com/apiHouse/assets/house/' +
                              item.imageName
                            "
                            alt=""
                          />

                          <!-- <a class="gal-link popup-image"><i class="fa fa-search"></i></a> -->
                        </div>
                      </div>
                    </div>
                    <!-- 1 end -->
                  </div>
                  <!-- end gallery items -->
                </div>

                <div class="list-single-main-item fl-wrap">
                  <div class="list-single-main-item-title fl-wrap">
                    <h3>About Hotel</h3>
                  </div>
                  <p>Address :- {{ houseDetails.address }}</p>
                  <p>
                    {{ houseDetails.aboutProperty }}
                  </p>
                  <a class="btn flat-btn color-bg big-btn float-btn image-popup"
                    >Video Presentation <i class="fal fa-play"></i
                  ></a>
                </div>
                <!--   list-single-main-item end -->
                <!--   list-single-main-item -->
                <div class="list-single-main-item fl-wrap" id="sec3">
                  <div class="list-single-main-item-title fl-wrap">
                    <h3>Amenities</h3>
                  </div>
                  <div class="listing-features fl-wrap">
                    <ul>
                      <li><i class="fal fa-check"></i> Elevator in building</li>
                      <li><i class="fal fa-times"></i> Free Wi Fi</li>
                      <li><i class="fal fa-parking"></i> Free Parking</li>
                      <li><i class="fal fa-snowflake"></i> Air Conditioned</li>
                      <li><i class="fal fa-plane"></i>Airport Shuttle</li>
                      <li><i class="fal fa-paw"></i> Pet Friendly</li>
                      <li><i class="fal fa-utensils"></i> Restaurant Inside</li>
                      <li>
                        <i class="fal fa-wheelchair"></i> Wheelchair Friendly
                      </li>
                    </ul>
                  </div>
                  <span class="fw-separator"></span>
                </div>
                <!--   list-single-main-item end -->
              </div>
            </div>
            <div class="col-md-4">
              <!--box-widget-wrap -->
              <div class="box-widget-wrap">
                <!--box-widget-item -->
                <div class="box-widget-item fl-wrap">
                  <div class="box-widget">
                    <div class="box-widget-content">
                      <div class="box-widget-item-header">
                        <h3>Book This Hotel</h3>
                      </div>
                      <!-- <form  class="book-form custom-form"> -->

                      <button
                        class="btnaplly color2-bg book-btn1"
                        (click)="openWindowCustomClass(content1)"
                      >
                        Book Now<i class="fal fa-paper-plane"></i>
                      </button>
                      <!-- </form> -->
                    </div>
                  </div>
                </div>
              </div>
              <!--box-widget-wrap end -->
            </div>
            <!--   datails end  -->
          </div>
          <!--   row end  -->
        </div>
        <!--   container  end  -->
      </section>
      <!--  section  end-->
    </div>
    <!-- content end-->
    <div class="limit-box fl-wrap"></div>
    <ng-template #content1 let-modal>
      <!-- <div class="booking-modal-wrap"> -->
      <div class="booking-modal-container">
        <div class="booking-modal-content fl-wrap">
          <div class="booking-modal-close color-bg" (click)="modal.dismiss('Cross click')">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <!-- <div class="booking-modal-info">

                </div> -->
          <div class="bookiing-form-wrap">
            <!--   list-single-main-item -->
            <div class="list-single-main-item fl-wrap hidden-section tr-sec">
              <div class="profile-edit-container">
                <div class="custom-form">
                  <form>
                    <fieldset class="fl-wrap book_mdf">
                      <div class="list-single-main-item-title fl-wrap">
                        <h3>Your personal Information</h3>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label>First Name <i class="far fa-user"></i></label>
                          <input type="text" placeholder="Your Name" value="" />
                        </div>
                        <div class="col-sm-6">
                          <label>Last Name <i class="far fa-user"></i></label>
                          <input
                            type="text"
                            placeholder="Your Last Name"
                            value=""
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label
                            >Email Address<i class="far fa-envelope"></i>
                          </label>
                          <input
                            type="text"
                            placeholder="yourmail@domain.com"
                            value=""
                          />
                        </div>
                        <div class="col-sm-6">
                          <label>Phone<i class="far fa-phone"></i> </label>
                          <input type="text" placeholder="87945612233" value="" />
                        </div>
                      </div>
                      <div class="soc-log fl-wrap">

                        <a href="#" class="facebook-log"
                          >Conform Booking</a
                        >
                      </div>

                      <!-- <span class="fw-separator"></span> -->

                    </fieldset>

                  </form>
                </div>
              </div>
            </div>
            <!--   list-single-main-item end -->
          </div>
        </div>
      </div>
      <!-- </div> -->
    </ng-template>
  </div>
  <!--wrapper end -->
  <app-footer></app-footer>

  <!-- </div> -->
