<footer class="main-footer">
  <div class="footer-inner">
    <div class="container">
      <div class="">
        <div class="col-md-12">
          <div class="footer-widget fl-wrap">
            <h3>About Us</h3>

            <div class="footer-contacts-widget fl-wrap">
              <div class="col-md-4">
                <div class="about_us">
                  <p>
                    Our mission is simple: to deliver outstanding results,
                    exceed expectations, and make every real estate journey as
                    smooth as possible. Whether you're a first-time buyer, a
                    seasoned investor, or looking to sell your property, we are
                    here to guide you through every step of the process.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <ul class="footer-contacts fl-wrap">
                  <li>
                    <span><i class="fal fa-envelope"></i> Mail :</span
                    ><a target="_blank">support@househuntt.com</a>
                  </li>
                  <li>
                    <span><i class="fal fa-map-marker-alt"></i> Adress :</span
                    ><a  target="_blank">Behind radison hotel, opposite gate no 6, Vijay Nagar, Indore, Madhya Pradesh 452010</a>
                  </li>
                  <li>
                    <span><i class="fal fa-phone"></i> Phone :</span
                    ><a>(+91)7957862426</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="footer-social">
                  <span>Find us : </span>
                  <ul>
                    <li>
                      <a target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer-bg"></div>
  <div class="sub-footer">
    <div class="container">
      <div class="copyright">&#169; House Hunt 2023 . All rights reserved.</div>
      <!-- <div class="subfooter-lang">
        <div class="subfooter-show-lang">
          <span>Eng</span><i class="fa fa-caret-up"></i>
        </div>
        <ul class="subfooter-lang-tooltip">
          <li><a >Dutch</a></li>
          <li><a >Italian</a></li>
          <li><a >French</a></li>
          <li><a >Spanish</a></li>
        </ul>
      </div> -->
      <div class="subfooter-nav">
        <ul>
          <!-- <li><a >Terms of use</a></li> -->
          <li routerLink="/privacy-policy"><a>Privacy Policy / Terms & Conditon</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
