#wrapper {
  float: left;
  width: 100%;
  position: relative;
  z-index: 5;
  padding-top: 70px;
}
span.fa.fa-user {
  border: 1px solid #0000005e;
  font-size: 40px;
  border-radius: 71%;
  height: 50px;
  width: 50px;
  padding: 2px 9px;
  color: #0000008c;
}
span.booking-text.status0 {
  color: orange;
  font-size: 12px;
    font-weight: 700;
}
span.booking-text.status1 {
  color: #28be1f;
  font-size: 12px;
    font-weight: 700;
}
span.booking-text.status2 {
  color: red;
  font-size: 12px;
    font-weight: 700;
}
a.log-out-btn {
  background: #fedd60 !important;
  color: black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
