
 <app-header></app-header>
  <div id="wrapper">
      <div class="content">
          <section class="middle-padding">
              <div class="container">
                  <div class="dasboard-wrap fl-wrap">
                      <div class="dashboard-content fl-wrap">
                          <div class="dashboard-list-box fl-wrap">
                              <div class="dashboard-header fl-wrap">
                                  <h3>My Bookings</h3>
                              </div>
                              <div class="dashboard-list" *ngFor="let item of myBookig">
                                  <div class="dashboard-message">
                                    <span class="new-dashboard-item" (click)="viewBookingDetails(item)">View Details</span>
                                      <div class="dashboard-message-avatar">
                                          <!-- <img src="assets/images/avatar/3.jpg" alt=""> -->
                                          <span class="fa fa-user"></span>
                                      </div>
                                      <div class="dashboard-message-text">
                                          <h4>{{item.userDetails.name|uppercase}} - <span style="color: green;">{{item.createdAt|date}}</span></h4>
                                          <div class="booking-details fl-wrap">
                                              <span class="booking-title">House Name :</span> :
                                              <!-- <span class="booking-text"><a >Premium Plaza Hotel</a></span> -->
                                              <span class="booking-text"><a >{{item.houseDetails.houseName}}</a></span>

                                          </div>
                                         <div class="booking-details fl-wrap">
                                              <span class="booking-title">Status :</span>                                              <span class="booking-text status0" *ngIf="item.status==0">Pending..</span>
                                              <span class="booking-text status1" *ngIf="item.status==1">Booked</span>
                                              <span class="booking-text status2" *ngIf="item.status==2">Reject</span>


                                          </div>
                                          <!--  <div class="booking-details fl-wrap">
                                              <span class="booking-title">Booking Date :</span>
                                              <span class="booking-text">02.03.2018  - 10.03.2018</span>
                                          </div>
                                          <div class="booking-details fl-wrap">
                                              <span class="booking-title">Mail :</span>
                                              <span class="booking-text"><a target="_top">yormail@domain.com</a></span>
                                          </div>
                                          <div class="booking-details fl-wrap">
                                              <span class="booking-title">Phone :</span>
                                              <span class="booking-text"><a target="_top">+496170961709</a></span>
                                          </div>
                                          <div class="booking-details fl-wrap">
                                              <span class="booking-title">Payment State :</span>
                                              <span class="booking-text"> <strong class="done-paid">Paid  </strong>  using Paypal</span>
                                          </div> -->

                                          <!-- <button class="viewBtn">View Details</button> -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- <div class="pagination">
                              <a class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                              <a  class="current-page">1</a>
                              <a>2</a>
                              <a>3</a>
                              <a>4</a>
                              <a  class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </section>
          <div class="limit-box fl-wrap"></div>
      </div>
  </div>
  <app-footer></app-footer>
