#wrapper {
  float: left;
  width: 100%;
  position: relative;
  z-index: 5;
  padding-top: 70px;
}

span.fa.fa-user {
  border: 1px solid #0000005e;
  font-size: 40px;
  border-radius: 71%;
  height: 50px;
  width: 50px;
  padding: 2px 9px;
  color: #0000008c;
}
