
.par-elem {
  background-image: url("/assets/images/bg/9.jpg");
  transform: translateZ(0px) translateY(-9.42857%);
}
.fa, .fab, .fal, .far, .fas {
    line-height: 2 !important;
}

.fa-check{
color: rgb(62, 255, 28);
line-height: 1.3 !important;
font-size: 18px;
}

.fa-times {
  color: rgb(244, 9, 9);
  line-height: 1.3 !important;
  font-size: 18px;
  }
  button.btnaplly{
      color: #fff;
      width: 100%;
      background: #F8BB11;
      padding: 7px 0;
      border-radius: 4px;
      outline: none;
      border: none;
      cursor: pointer;
      -webkit-appearance: none;
}
button.btnaplly i{
  padding-left: 8px;
  font-size: 15px;
}
.myCustomModalClass{
  width: 100%;
}
.booking-modal-close.color-bg {
  text-align: center;
}
