
.par-elem {
  background-image: url("/assets/images/bg/9.jpg");
  transform: translateZ(0px) translateY(-9.42857%);
}
.fa, .fab, .fal, .far, .fas {
    line-height: 2 !important;
}

.fa-check{
color: rgb(62, 255, 28);
line-height: 1.3 !important;
font-size: 18px;
}

.fa-times {
  color: rgb(244, 9, 9);
  line-height: 1.3 !important;
  font-size: 18px;
  }
